html {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#mockup {
  width: 721px;
  height: 710px;
  /*
  background-image: url(https://raw.githubusercontent.com/becodeorg/gnt-verou-1-26/master/1.The-Field/4.HTML-CSS/5.End-of-Field/2.End-of-Field-Challenge/images/normal-res/simple/interface.04.png?token=AQB72OAOX7BAX22NDO7LPU27VJHNA);
  */
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 10;
  pointer-events: none;
}

#image {
  margin-top: 6px;
  width: 709px;
  height: 473px;
  background-image: url(../img/couple.png);
  background-repeat: no-repeat;
  margin-left: 6px;
}

.text {
  width: calc(721px - 6px - 6px);
  height: calc(710px - 473px - 6px - 6px);
  margin: 0 6px 6px 6px;
  text-align: center;
  font-family: "IBM Plex Serif", serif;
}

.text h2 {
  margin: 0;
  font-size: 13px;
  font-weight: normal;
  text-align: right;
  color: #d8d8d8;
}

.text h1 {
  margin-top: 15px;
  margin-left: 170px;
  margin-right: 170px;
  line-height: 100%;
  font-size: 24pt;
  font-weight: normal;
}

hr {
  width: 10%;
  border-top: lightgray;
}

.text p {
  margin-left: 105px;
  margin-right: 105px;
  color: #636363;
}

footer {
  font-family: sans-serif;
  color: #b5b5b5;
  font-size: 9pt;
  font-weight: 600;
}
