html {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #f1eee9;
}

#mockup {
  width: 1223px;
  height: 724px;
  /*
    background-image: url(https://raw.githubusercontent.com/becodeorg/gnt-verou-1-26/master/1.The-Field/4.HTML-CSS/5.End-of-Field/2.End-of-Field-Challenge/images/normal-res/complex/complex.08.png?token=AQB72OBWTJRFIBA7SVLNYGK7VKBQG);
    */
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 10;
  pointer-events: none;
}

#image {
  margin: 12px;
  width: 487px;
  height: 700px;
  background-image: url(../img/portrait.png);
  background-repeat: no-repeat;
}

.container {
  display: flex;
}

.side-right {
  background-color: white;
  margin: 12px 0 12px 0px;
  width: calc(1223px - 12px - 12px - 487px);
  height: 700px;
}

.text {
  padding-left: 8px;
  margin: 160px 168px 0 160px;
}

.text h2 {
  font-size: 42pt;
  font-weight: 500;
  margin-bottom: 0px;
  line-height: 1.1;
  color: #2a2f35;
}

.text h4 {
  margin: 30px 0 45px 0;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 10pt;
  color: #32323b;
}

.text p {
  line-height: 1.6;
  font-family: sans-serif;
  font-size: 11pt;
  color: #4d5056;
}

.icons {
  margin: 0 168px 0 160px;
  padding: 11px 0 0 8px;
}

.icons a {
  padding-right: 15px;
}
